<h1 class="header">{{name}}</h1>

<form action="">
  <td>Nombre: </td>
  <dd>{{name}}</dd>

  <td>Edad: </td>
  <dd>{{age}}</dd>

  <td>Metodo: </td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado: </td>
  <dd>{{capitalizedName}}</dd>

  <button
    class="btn btn-green"
    *ngIf="name !== 'Simon'"
    (click)="changeName()">
    Cambiar Nombre
  </button>

  <button
    class="btn btn-green"
    *ngIf="age !== 3"
    (click)="changeAge()">
    Cambiar Edad
  </button>

  <button
    class="btn btn-green"
    (click)="resetForm()">
    Reset
  </button>
</form>


